body {
    background-color: #FAFBFC;
    margin:auto;
    width: 1200px;
    padding-bottom: 20px
  }

  div {
    border: 1px solid black;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-color: lightblue;
  }

  h1 {
    color: #8D9295;
    font-family: Helvetica;
    font-size: 80px;
    margin: 10px;
    text-align: center;
  }

  h2 {
    color: #8D9295;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    line-height:40px;
    margin-bottom:25px;
    text-align: center;
  }

  h3 {
    color: #8D9295;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    line-height:40px;
    margin-bottom:25px;
    margin-left:60px;
    text-align:center;
  }

  p {
    color: #515354;
    margin-left:60px;
    margin-right:60px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
  }
  

/* 设置页眉的样式 */
.header {
    background-color:  #EDF1F6;
    padding: 200px;
    text-align: center;
  }

/* 设置导航栏的样式 */
#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FAFBFC;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    width: 100%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #8D9295;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #EDF1F6;
  }
  
  .active {
    background-color: #EDF1F6;
  }

/* 页脚 */
  #footer {
    background-color:#EDF1F6;
    color:#8D9295;
    clear:both;
    text-align:center;
    width: 1200px;
    margin-left: auto;
   padding:10px;	 
}





